@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root {
  /* (main background) */
  --very-dark-blue: hsl(233, 47%, 7%);
  /* (card background) */
  --dark-desaturated-blue : hsl(244, 38%, 16%);
  /* (accent) */
  --soft-violet : hsl(277, 64%, 61%);
  /* (main heading, stats) */
  --white: hsl(0, 0%, 100%);
  /* (main paragraph) */
  --slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
  /* (stat headings) */
  --slightly-transparent-white : hsla(0, 0%, 100%, 0.6);
}

/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 15px;
  line-height: 1.5;
  background-color: var(--very-dark-blue);
}

img {
  display: block;
  max-width: 100%;
}

.main {
  background-color: var(--dark-desaturated-blue);
}